body {
background: teal;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: whitesmoke;
text-align: center;
}
.projects { display:flex; }
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white;
border-radius: 25%;
}
.Pstatement
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.Affinity
{
    display: flex;
    width: 100%;
}